.row .total-amount-spent{
    margin:0 auto;
}

.card-shadow-mb-4{
    width: 100%;
    margin:0 auto;
}

.dashboard-buttons{
    width: 100%;
    margin: 0 auto;
    justify-content: space-around;
}

.editBudget{
    border:none;
    font-weight: 700!important;
    color:#5a5c69;
}

.tableClass{
    background:red!important;
}