.row .total-amount-spent{
    margin:0 auto;
}

.card-shadow-mb-4{
    width: 100%;
    margin:0 auto;
}

.dashboard-buttons{
    width: 100%;
    margin: 0 auto;
    justify-content: space-around;
}

.editBudget{
    border:none;
    font-weight: 700!important;
    color:#5a5c69;
}

form.user .form-control-user{
    font-size:.8rem;
    border-radius:0.35rem;
    padding:1.5rem 1rem
}

form.user .btn-user {
    font-size:.8rem;
    border-radius:0.35rem;
    padding:0.75rem 1rem
}

input[type="color"]{
    border-radius: 50%;
    height: 40px;
    width: 40px;
    border: none;
    outline: none;
    -webkit-appearance: none;
}

input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0; 
}
input[type="color"]::-webkit-color-swatch {
    border: none;
    border-radius: 50%;
}

.btn-primary {
    color: #fff;
    background-color: #4e73df;
    border-color: #4e73df;
    margin-top: 10px;
}